<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>GitHub woodyiii - Page Title</title>
    <meta name="description" content="GitHub personal page for woodyiii">
    <meta name="author" content="woodyiii">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-89MQP869WD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-89MQP869WD');
    </script>

</head>

<body>
    <div class="content container">
        <div class="header column">
            <div class="container">
                <div class="content">
                    <nav>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="/work">work</a></li>
                            <li><a href="/follow">follow</a></li>
                            <li><a href="/about">about</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <h1>Welcome</h1>
    </div>
</body>

</html>